.skin-blue .main-header .logo {
    background-color:  #214873;
}

.skin-blue .main-header .navbar {
    background-color: #214873;
}

.skin-blue .main-sidebar {
    background-color: white;
}

.btn-success {
    font-size: 18px;
    font-family: Sans-Serif;
    padding: 5px 12px;
    height: 55px;
    min-width: 21.85%;
    margin: 0px 10px 14px 20px;
    text-align: left;
    color: white;
    background:  white;
    text-indent: 4px;
    vertical-align: middle;
    border-radius: 0px;
    border-color: transparent;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 1px 5px 0 rgba(0,0,0,0.15);
    text-transform: uppercase;
    -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.btn-success:hover {
    background-color:#214873;
    font-size: 18px;
    font-family: Sans-Serif;
    padding: 5px 12px;
    height: 55px;
    min-width: 21.85%;
    margin: 0px 10px 14px 20px;
    text-align: left;
    color: white;
    text-indent: 4px;
    vertical-align: middle;
    border-radius: 0px;
    border-color: transparent;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: box-shadow 0.4s ease-out;
    transition: box-shadow 0.4s ease-out;
}

.fa {
    margin-right: 10px;
}
.fa.fa-gear.opt {
    margin-right: 0px;
}
.fa.fa-search-plus.opt {
    margin-right: 0px
}
#intro {
    margin-bottom: 0;
    align-items: center;
    display: block;
    margin: 0 auto;
    background: #214873;
    color: white;
    min-width: 25%;
    border-color: white
}
#sidebar_button {
    height: 55px;
}
section.sidebar .shiny-bound-input.action-button, section.sidebar .shiny-bound-input.action-link {
    margin: auto;
    display: block;
}
.btn-danger {
    background-color: #214873;
    border-color: #214873;
    height: 55px;
    width: 300px;
    border-radius: 0;
    position: relative;
    font-size: 18px;
}
.btn-primary {
    background-color: white;
    border-color: white;
    color: white;
    height: 55px;
    width: 300px;
    border-radius: 0;
    position: relative;
    font-size: 18px;
}

.fa.fa-user, .fa.fa-thumbs-o-up, .fa.fa-flask.flask-box, .fa.fa-spinner.spinner-box {
    color: white;
    font-size: 20;
    margin-right: 10px;
    font-size: 30px;
    vertical-align: middle;
}

.skin-blue .treeview-menu > li > a {
    color: white;
    white-space: pre-line;
}
.skin-blue .treeview-menu > li:hover > a {
    color: white;
    white-space: pre-line;
    background-color: #d3d8e6;;
}


 .info-box {
     min-height:55px;
     float:center;
     box-shadow:5px 5px 5px lightgrey;
     border-bottom: 0px;
 }
}
 .info-box-icon.bg-black {
     height:55px; 
}
.bg-black {
    background-color:  #fff !important;
    height: 55px;
    line-height:55px;

}
.text-success {
    color: #214873;
    font-size: large;

}
 .skin-blue .main-header .navbar {
     background-color:#214873 
}
 .skin-blue .main-header .navbar .nav > li > a {
     color:#fff 
}
 .skin-blue .main-header .navbar .nav > li > a:hover {
     background:#ffffff;
     color:#214873 
}
 .skin-blue .main-header .navbar .sidebar-toggle {
     color:#ffffff 
}
 .skin-blue .main-header .navbar .sidebar-toggle:hover {
      font-family:"Arial", sans-serif ;
     color:#214873;
     background:#fff 
}
 .skin-blue .main-header .navbar .navbar-custom-menu .navbar-nav > li > a, .skin-blue .main-header .navbar .navbar-right > li > a {
     border-left:1px solid #214873;
     border-right-width:0 
}
 .main-header .logo {
     font-family:"Arial", sans-serif ;
     font-weight:bold;
     letter-spacing:-1px; 
     font-size:30px; 
     color:#ffffff;
}
 .modal-dialog{
     max-width:1000px;
     border-radius: 5px;
     border: 2px solid white; 
}
 .modal-body{
     max-height:700px;
     align-content:center;
     border: 2px solid white;
     border-radius: 5px;
}
 .modal-sm {
     max-width:1200px; 
     font-family:"Arial", sans-serif ;
     align-content:center;
     border-radius: 5px;
     border: 2px solid white;
}
 .sidebar {
     height:90vh;
     overflow-y:auto 
}
 .skin-blue .main-header > .logo {
     background-color:#214873;
     color:#ffffff;
     border-bottom:0 solid transparent;
     border-right:1px solid #214873;
}
 .skin-blue .main-header > .logo:hover {
     background-color:#214873 
}
 .nav-tabs-custom > .nav-tabs > li.active {
     border-top-color:white 
}
 .nav-tabs-custom {
     box-shadow:5px 5px 5px #fff
}
 .skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
     background-color: #d3d8e6;
}
 .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li:hover > a {
     color:black;
     background: #9da6c1 ;
     border-left-color:#214873;
}
 .skin-blue .sidebar-menu > li > .treeview-menu {
     margin:0 1px; 
     background:#8a8c8f;
     box-shadow:inset 0px 0px 7px #000000;
     padding-bottom:2px 
}
 .skin-blue .sidebar a {
     color: black
}
.navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu {
    width: 400px;
    padding: 0;
    margin: 10px;
    top: 100%;
    background-color: #fefefee6;
    box-shadow: 10px 10px 10px #77281a;
}
.navbar-nav > .messages-menu > .dropdown-menu > li.header, .navbar-nav > .notifications-menu > .dropdown-menu > li.header, .navbar-nav > .tasks-menu > .dropdown-menu > li.header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #214873;
    padding: 7px 10px;
    border-bottom: 1px solid #214873e6;
    color: black;
    font-size: 14px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
    max-height: 1200px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
    color: #000000;
    overflow: hidden;
    white-space: normal;
}
 #coxreg {
     overflow-y: auto;
     max-height: 200px;
     background-color: white;
     box-shadow: inset 0px -5px 5px white 
}
 #coxreg_aic {
     background-color: white
}
 #logreg {
     overflow-y: auto;
     max-height: 200px;
     background-color: white;
     box-shadow: inset 0px -5px 5px white 
}
 #logreg_aic {
     background-color: white
}
.shiny-output-error { 
    visibility: hidden; 
}
.shiny-output-error:before { 
    visibility: hidden; 
}

.content-wrapper, .right-side {
  background-color: white;
}
 